.cards {
  padding: 0 40px;
}

.cards__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px;
}

.cards__title {
  font-size: 80px;
  text-align: center;
  padding: 60px 0;
}

@media screen and (max-width: 2146px) {
  .cards {
    max-width: 2116px;
  }
}

@media screen and (max-width: 700px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 388px);
  }
}
