footer {
  padding-top: 10px;
}

.footer__container-list {
  border-bottom: 1px solid white;
  width: 80%;
  margin: 0 auto 10px;
}

.footer__links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 20px;
}

.footer__item {
  padding-left: 50px;
  text-decoration: none;
  color: #f9af67;
  font-weight: bold;
  font-size: 25px;
}

.fa-brands {
  padding-right: 10px;
}

.footer__companyTag {
  text-align: center;
  color: #f9af67;
}

@media screen and (max-width: 700px) {
  .footer__item {
    font-size: 18px;
    padding-left: 15px;
  }
}
