/* header */
.header__container {
  padding: 100px 80px;
}

.header__title {
  text-align: center;
  font-size: 100px;
  margin-bottom: 40px;
}

.header__img {
  padding-right: 20px;
  float: left;
}

.header__discription {
  line-height: 44px;
  font-size: 20px;
}
