.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #001f3d;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
}

.modal__close-btn {
  background-image: url("../images/close-white.svg");
  background-color: transparent;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 51px;
  height: 48px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 25px;
  font-family: "poppings", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: 50px;
  color: #f3e5d7;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px;
  font-family: "poppings", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 17.6px;
  color: white;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: rgba(33, 33, 33);
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__img {
  float: left;
  width: 48%;
  padding: 0 15px 15px 0;
}

.modal__discription {
  color: #f3e5d7;
  line-height: 31px;
  font-size: 23px;
}

.modal__btn-flex {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px;
}

.modal__btn-link {
  border: 0;
}

.modal__btn-links {
  font-size: 30px;
  text-decoration: none;
  color: #f3e5d7;
  padding: 10px 25px;
  background-color: #f9af67;
  border-radius: 8px;
}

/* Desktop screen size  */

@media screen and (max-width: 759px) {
  .modal {
    padding: 0 40px;
  }

  .modal__btn-links {
    font-size: 20px;
  }
}

/* tablet screen size  */

@media screen and (max-width: 627px) {
  .modal__close-btn {
    top: 27px;
    right: 27px;
  }

  .modal__btn-links {
    font-size: 20px;
    padding: 10px 10px;
  }

  .modal__container {
    padding: 30px 20px;
  }
}

/* Mobile screen size  */
@media screen and (max-width: 468px) {
  .modal__btn-flex {
    flex-wrap: wrap;
  }

  .modal__discription {
    color: #f3e5d7;
    line-height: 19px;
    font-size: 18px;
  }

  .modal {
    padding: 0px 20px;
  }
}
