/* header */
.profile__container {
  padding: 100px 40px;
}

.profile__title {
  text-align: center;
  font-size: 100px;
  margin-bottom: 40px;
}

.profile__img {
  padding-right: 20px;
  float: left;
}

.profile__discription {
  line-height: 44px;
  font-size: 30px;
}
